/* <------- Import RFS -------> */
@import "node_modules/rfs/scss.scss";

// Variables 
$primary-color: #3D405B;
$main-color: #FFFFFA;
$primary-text-color: #33272a;
$secondary-text-color: #e63946;
$font: 'Ubuntu', sans-serif;
$half-bold: 500;

@mixin player-commun{
    border: 1px solid $primary-color;
    border-radius: 10px;
}
body{
    background-color: $primary-color;
    font-family: $font;
    margin: 0px;
    color: $primary-text-color;
    & .second-color{
        color: $secondary-text-color;
    }
    & .half-bold{
        font-weight: $half-bold;
    }
}

.no-arrow {
    -moz-appearance: textfield;
  }
  .no-arrow::-webkit-inner-spin-button {
    display: none;
  }
  .no-arrow::-webkit-outer-spin-button,
  .no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
main{
    margin: auto;
    text-align: center;
    background-color: $main-color;
    width: 65%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 9%;
    @media (max-width: 811px){
        width: 75%;
        padding-bottom: 20%;
    }
    & h1{
        @include font-size(72px);
        font-weight: 700;
    }
    & .rule{
        @include font-size(22px);
        color: $secondary-text-color;
        padding-left:23%;
        padding-right: 23%;
        @media (max-width: 998px){
            padding-left:0%;
            padding-right: 0%;
        }
    }
    & p{
        margin: 0px;
        font-weight: 300;
    }
    & #score-pannel{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 3% 12% 4% 12%; //haut droite bas gauche
        @media (max-width: 811px){
            flex-direction: column;
            margin-bottom: 10%;
        }
    }
    & #info-game{
        margin-bottom: 40px;
        display: block;
    }
    & #game{
        border: 2px solid $primary-color;
        border-radius: 10px;
        margin-right: 10%;
        margin-left: 10%;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;        @media (max-width: 1260px){
            margin-right: 1%;
            margin-left: 1%; 
        }
    }
    & #score{
        display: flex !important;
        justify-content: space-evenly;
        @include font-size(45px);
        margin-left: 2%;
        margin-right: 2%;
        display: inline-block;
        flex-grow: 3;
        @media (max-width: 811px){
            margin-top: 2%; 
            margin-bottom: 2%;
            flex-direction: column;
        }  
    }
    & #computer{
        @include font-size(28px);
        @include player-commun();
        padding: 6% 2.84% 6% 2.84%;
        font-weight: $half-bold;
        color: $secondary-text-color;
        flex-grow: 1;
        @media (max-width: 811px){
            padding: 9% 3.2% 9% 3.2%; 
        }
    }
    & #player{
        @include font-size(28px);
        @include player-commun();
        padding: 6% 7.27% 6% 7.27%;
        font-weight: $half-bold;
        color: $secondary-text-color;
        flex-grow: 1;
        @media (max-width: 811px){
            padding: 9% 10% 9% 10%; 
        }
    }
    & #user-info{
        @include font-size(22px);
        font-weight: $half-bold;
        margin-bottom: 8%;
    }
    & #insert-number{
        margin-top: 5%;
    }
    & .insert-input{
        margin-top: 19.7px;
        margin-bottom: 19.7px;
        width: 140px;
        height: 57px;
        border: 1px solid $secondary-text-color;
        border-radius: 10px;
        @include font-size(24px);
        text-align: center;
        @media (max-width: 530px){
            width: 100px;
            height: 50px; 
        }
    } 
    & .attempt-left, .replay-info{
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        display: block;
    }
    & .guessSubmit, button{
        margin: auto;
        position: relative;
        top: 0;
        margin-top: 0;
        margin-bottom: 20px;
        box-shadow: 0 7px 0 0 $primary-color;
        display: block;
        background: #a47;
        color: #eee;
        padding: 5px 10px;
        width: 90px;
        border: 0;
        cursor: pointer;
        @include font-size(20px);
        opacity: 0.9;
        border-radius: 10px;
        transition: 0.1s linear;
        &:hover{
            opacity: 1;
        }
        &:active{
            box-shadow: none;
            top: 10px;
            margin-bottom: 0;
        }
    }
        & label{
            @media (max-width: 455px){
                display: block;
                width: 77%;
                margin: auto;
        }
    }
}

#footer{
    margin: auto;
    background-color: $main-color;
    width: 69%;
    text-align: center;
    min-height: 65px;
    @media (max-width: 811px){
        width: 79%; 
    }
        & a{
            text-decoration: none;
            color: $primary-text-color;
            display: block;
            padding-top: 20px;
        }
    & :hover{
        font-weight: 600;
    }
}


.pb-1{
    margin-bottom: 8px;
}
.mb-5{
    margin-bottom: 48.24px;
}
.mt-3{
    margin-top: 15px;
}