/* <------- Import RFS -------> */
body {
  background-color: #3D405B;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  color: #33272a;
}

body .second-color {
  color: #e63946;
}

body .half-bold {
  font-weight: 500;
}

.no-arrow {
  -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pb-1 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 48.24px;
}

.mt-3 {
  margin-top: 15px;
}

main {
  margin: auto;
  text-align: center;
  background-color: #FFFFFA;
  width: 65%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 9%;
}

@media (max-width: 1500px) {
  main {
    width: 73%;
  }
}

@media (max-width: 1000px) {
  main {
    width: 80%;
    padding-bottom: 20%;
  }
}

@media (max-width: 650px) {
  main {
    width: 90%;
  }
}

main h1 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 700;
}

@media (min-width: 1200px) {
  main h1 {
    font-size: 4.5rem;
  }
}

main .rule {
  font-size: calc(1.2625rem + 0.15vw);
  color: #e63946;
  padding-left: 19%;
  padding-right: 19%;
}

@media (min-width: 1200px) {
  main .rule {
    font-size: 1.375rem;
  }
}

@media (max-width: 998px) {
  main .rule {
    padding-left: 0%;
    padding-right: 0%;
  }
}

main .instruction {
  margin: 0px;
  font-weight: 300;
}

main #score-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 12% 4% 12%;
}

@media (max-width: 811px) {
  main #score-pannel {
    margin-bottom: 10%;
  }
}

@media (max-width: 410px) {
  main #score-pannel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #info-game {
  margin-top: 35px;
  margin-bottom: 15px;
  display: block;
}

main #game {
  border: 2px solid #3D405B;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@media (max-width: 1260px) {
  main #game {
    margin-right: 1%;
    margin-left: 1%;
  }
}

main #score {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: calc(1.40625rem + 1.875vw);
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

@media (min-width: 1200px) {
  main #score {
    font-size: 2.8125rem;
  }
}

@media (max-width: 811px) {
  main #score {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 410px) {
  main #score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #computer {
  font-size: calc(1.3rem + 0.6vw);
  border: 1px solid #3D405B;
  border-radius: 10px;
  padding: 6% 2.84% 6% 2.84%;
  font-weight: 500;
  color: #e63946;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 1200px) {
  main #computer {
    font-size: 1.75rem;
  }
}

@media (max-width: 811px) {
  main #computer {
    padding: 9% 3.2% 9% 3.2%;
  }
}

main #player {
  font-size: calc(1.3rem + 0.6vw);
  border: 1px solid #3D405B;
  border-radius: 10px;
  padding: 6% 6.124% 6% 6.124%;
  font-weight: 500;
  color: #e63946;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 1200px) {
  main #player {
    font-size: 1.75rem;
  }
}

@media (max-width: 811px) {
  main #player {
    padding: 9% 10% 9% 10%;
  }
}

main #user-info {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 500;
  margin-bottom: 8%;
}

@media (min-width: 1200px) {
  main #user-info {
    font-size: 1.375rem;
  }
}

main #insert-number {
  margin-top: 5%;
}

main .insert-input {
  margin-top: 19.7px;
  margin-bottom: 19.7px;
  width: 140px;
  height: 57px;
  border: 1px solid #e63946;
  border-radius: 10px;
  font-size: calc(1.275rem + 0.3vw);
  text-align: center;
}

@media (min-width: 1200px) {
  main .insert-input {
    font-size: 1.5rem;
  }
}

@media (max-width: 530px) {
  main .insert-input {
    width: 125px;
    height: 50px;
  }
}

main #tooltip {
  position: relative;
  font-size: 16px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 225px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  color: #3D405B;
  font-weight: 400;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 25px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 2px 25px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 811px) {
  main #tooltip {
    width: 170px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

main #tooltip:after {
  border: 10px solid;
  border-color: transparent transparent white transparent;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: 100%;
}

main .attempt-left, main #replay-info {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  display: block;
}

main .guessSubmit {
  margin: auto;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 0 #3D405B;
          box-shadow: 0 7px 0 0 #3D405B;
  display: block;
  background: #e63946;
  color: #eee;
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.85;
  border-radius: 10px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  width: 90px;
}

main .guessSubmit:hover {
  opacity: 1;
}

main .guessSubmit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}

main #new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

main #new-button :first-child {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 0 #3D405B;
          box-shadow: 0 7px 0 0 #3D405B;
  display: block;
  background: #e63946;
  color: #eee;
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.85;
  border-radius: 10px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  margin-right: 10px;
  width: 90px;
}

main #new-button :first-child:hover {
  opacity: 1;
}

main #new-button :first-child:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}

main #new-button :last-child {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 0 #3D405B;
          box-shadow: 0 7px 0 0 #3D405B;
  display: block;
  background: #e63946;
  color: #eee;
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.85;
  border-radius: 10px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  width: 154px;
}

main #new-button :last-child:hover {
  opacity: 1;
}

main #new-button :last-child:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}

@media (max-width: 455px) {
  main label {
    display: block;
    width: 77%;
    margin: auto;
  }
}

main #emoji {
  font-size: 20px;
}

#footer {
  margin: auto;
  background-color: #FFFFFA;
  width: 69%;
  text-align: center;
  min-height: 65px;
}

@media (max-width: 1500px) {
  #footer {
    width: 77%;
  }
}

@media (max-width: 1000px) {
  #footer {
    width: 84%;
  }
}

@media (max-width: 650px) {
  #footer {
    width: 94%;
  }
}

#footer a {
  text-decoration: none;
  color: #33272a;
  display: block;
  padding-top: 20px;
}

#footer :hover {
  font-weight: 600;
}
/*# sourceMappingURL=plus-ou-moins.css.map */